:root {
  --Primary-Color: #0B0D1D; /* Deep space black */
  --Secondary-Color: #7289DA; /* Starlight blue */
  --Accent-Color: #A29BFE; /* Nebula purple */
  --Highlight-Color: #50C9CE; /* Galaxy teal */
  --Complementary-Accent: #FFCF6F; /* Comet yellow */
}

.dark-mode {
  --Primary-Color: #494d6b; /* Cosmic deep blue */
  --Secondary-Color: #A29BFE; /* Nebula purple */
  --Accent-Color: #50C9CE; /* Galaxy teal */
  --Highlight-Color: #FFCF6F; /* Comet yellow */
}

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Primary-Color);
  transition: color 0.5s, background-color 0.5s;
}

#modeIcon {
  position: fixed;
  right: 3%;
  top: 5%;
  background-color: none;
  color: var(--Secondary-Color);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, opacity 0.2s;
  padding: 6px;
  margin: 0 5px;
  border: 1px solid var(--Secondary-Color);
  border-radius: 50%;
}

#modeIcon:hover {
  opacity: 0.7;
}

.todo-list {
  border: 1px solid var(--Secondary-Color);
  width: 40rem;
  height: fit-content;
  text-align: center;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  border-radius: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.5s;
  color: var(--Secondary-Color);
}

h1:hover {
  color: var(--Highlight-Color);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Color);
  border: 1px solid var(--Accent-Color);
  border-radius: 8px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--Accent-Color);
}

::-webkit-scrollbar-track {
  background-color: var(--Primary-Color);
}

.todo-list > ul {
  list-style: none;
  width: fit-content;
  height: 10rem;
  padding: 0;
  margin: 1rem;
  overflow-y: auto;
}

.todo-list > ul li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 500;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 25rem;
  height: 3rem;
}

.todo-list > ul li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  color: var(--Secondary-Color);
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
}

.todo-list > ul li label .task-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-list > ul li label input[type=checkbox] {
  margin: 0.5rem 0.5rem;
  accent-color: var(--Accent-Color);
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .todo-list {
    width: 90%;
  }

  #btns, input {
    width: 100%;
  }
}

.dark-mode .todo-list {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.lists {
  display: flex;
  width: 18rem;
}

#icons {
  background-color: none;
  color: var(--Secondary-Color);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, opacity 0.2s;
  padding: 0;
  margin: 0 5px;
}

#icons:hover {
  opacity: 0.7;
}

#btns {
  background-color: var(--Highlight-Color);
  color: var(--Primary-Color);
  border: 1px solid var(--Complementary-Accent);
  width: 6rem;
  height: 3rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 1.4rem;
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s, transform 0.1s;
}

#btns:hover {
  background-color: var(--Complementary-Accent);
  color: var(--Primary-Color);
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#btns:focus {
  outline: 2px solid var(--Accent-Color);
  transform: scale(1.02);
}

#btns:active {
  transform: translateY(-1px);
}

input {
  width: 16rem;
  border: 0.1rem solid var(--Accent-Color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  color: var(--Secondary-Color);
  background-color: var(--Primary-Color);
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s, transform 0.1s;
}

input:focus {
  /* background-color: var(--Accent-Color); */
  outline: none;
  border-color: var(--Secondary-Color);
  box-shadow: 0 0 5px var(--Secondary-Color);
}

input::placeholder {
  color: var(--Secondary-Color);
  opacity: 0.8;
}
